.App {
  text-align: center;
  padding: 20px;

  btn{
    margin: 4px;
    display: flex;
    width: 200px;
    height: 40px;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: lightgreen;
  }
}
